div {
    background-color: rgb(26, 197, 209);
    border: 1px solid rgb(50, 58, 52);
    border-collapse: collapse;
    margin-top: 10%;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 10%;
    
}

